# Node modules
node_modules

# Next.js build output
.next
out

# Yarn lock file
yarn.lock

# Configuration files
package-lock.json

# Logs
logs
*.log

# Coverage directory used by testing tools
coverage

# Miscellaneous
.DS_Store
Thumbs.db

# Public and static directories (if you want to keep them untouched)
public
static

# Specific file types (optional, if you don't want Prettier to format them)
*.min.js
*.min.css
*.svg
